

POSTGRES_USER=itmizer_admin
POSTGRES_PASSWORD=Admin!2026!
POSTGRES_DB=itmizer_vr
BACKEND_PORT=3000
FRONTEND_PORT=3009
JWT_SECRET=vrgyn-itmizer
JWT_EXPIRES_IN=1d
CREDENTIAL_ENCRYPTION_KEY=S87YqZ4p7eKx2fL9pQW1mR5tU8vX4zB3nC6vM9qE2wA=
VITE_API_URL=/api

# Google Drive Backups
GOOGLE_DRIVE_FOLDER_ID=0AAzNdB7t26iUUk9PVA
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-backup-sa@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE\n-----END PRIVATE KEY-----\n"


